{% extends '@LCHAdmin/base.admin.html.twig' %}

{% block title %}{{ 'admin.dashboard.title'|trans }} - {{ parent() }}{% endblock title %}

{% block content %}
    <h1>{{ 'dashboard.mainTitle'|trans }}</h1>
    <div class="row">

        <div class="col-md-8">
            <h2>{{ 'dashboard.subTitle'|trans }}</h2>
            <table class="table">
                <tr>
                    <th>{{ 'dashboard.statList.registration'|trans }}</th>
                    <td>{{ registration }}</td>
                </tr>
                <tr>
                    <th>{{ 'dashboard.statList.ctaRate'|trans }}</th>
                    <td>{{ ctaAverage }}</td>
                </tr>
                <tr>
                    <th>{{ 'dashboard.statList.offerUpv'|trans }}</th>
                    <td>{{ offerUPV }}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'dashboard.right.title'|trans }}</div>
                <div class="panel-body">
                    <p><a href="{{ path('devgiants_catalog_admin_offer_new') }}">{{ 'dashboard.right.addOffer'|trans }}</a></p>
                    <p><a href="{{ path('devgiants_catalog_admin_partner_create') }}">{{ 'dashboard.right.addPartner'|trans }}</a></p>
                    <p><a href="{{ path('devgiants_cms_admin_page_list') }}">{{ 'dashboard.right.edito'|trans }}</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}