{% extends '@LCHAdmin/base.admin.html.twig' %}

{% block title %}{{ 'Tableau de bord'|trans }} - {{ parent() }}{% endblock title %}

{% block content %}
    {% set hasResult = false %}
    {% for entityType, result in results %}

        {% if result is not empty %}
            {% set hasResult = true %}
            {% set label = entityType|split('\\') %}
            <h2>{{ ('searchAdminResult.'~label|last)|trans }}</h2>

            {% if entityType == "devgiants\\CatalogBundle\\Entity\\Partner"  %}
                {% set url = 'devgiants_catalog_admin_partner_edit' %}
                {% set name = 'name' %}

            {% elseif entityType == 'devgiants\\CatalogBundle\\Entity\\FAQ' %}
                {% set url = 'devgiants_catalog_admin_faq_edit' %}
                {% set name = 'question' %}

            {% elseif entityType == 'devgiants\\CatalogBundle\\Entity\\Offer' %}
                {% set url = 'devgiants_catalog_admin_offer_edit_informations' %}
                {% set name = 'name' %}

            {% elseif entityType == 'devgiants\\CatalogBundle\\Entity\\Testimonial' %}
                {% set url = 'devgiants_catalog_admin_testimonial_edit' %}
                {% set name = 'title' %}

            {% elseif entityType == 'devgiants\\UserBundle\\Entity\\User' %}
                {% set url = 'devgiants_user_admin_edit' %}
                {% set name = 'username' %}

            {% elseif entityType == 'devgiants\\CmsBundle\\Entity\\Block' %}
                {% set url = 'devgiants_cms_admin_block_edit' %}
                {% set name = 'name' %}

            {% endif %}
            <ul>
                {% for entity in result %}
                    <li><a href="{{ path(url,{'id':entity.id}) }}">{{ attribute(entity, name) }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

    {% endfor %}

    {% if hasResult == false %}
        <p>{{ 'searchAdminResult.noresult'|trans }}</p>
    {% endif %}

{% endblock content %}